/* app */
#app{
    display: flex;
    font-family: 'Montserrat', serif;
}

.sidebar{
    padding: 20px;
    background: #f7f7f7;
    width: 40%;
    height: 100vh;
}



.logo{
    height: 50px;
    width: auto;
}

#app .menu header{
    padding: 20px;
}
/* app */

/* menu */
.Hey{
    font-weight: bold;
}

.Wats{
    font-weight: normal;
}
.menu{
     background: white;
     height: 100vh;
     width: 70%;
}

.MenuTitle{
    margin: 15px;
}

.FoodItem span{
    display: block;
}

.FoodItem img{
    margin: 3px;
    height: 35px;
    width: 35px;
}

.FoodItem{
    padding: 5px;
    text-align: center;
    height: 95px;
    width: 95px;
    background: #f8f8f8;
    border-radius: 15px;
    margin: 10px;
    color: black;
}

.FoodItem:hover{
    background: #d42925;
    color: white;
}

.FoodContainer{
    display: flex;
    flex-wrap: wrap;
}
/* menu */

/* sidebar */

.header{
    text-align: right;
    margin: 10px;
}

.my-order-title{
    margin-top: 45px;
}

.my-order-title h2{
    font-size: 1em;
}

.my-order-title h3{
    font-size: 0.8em;
    font-weight: 400;
}

.validation{
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.totalPrice{
    font-weight: 600;
}

.btnDone{
    height: 40px;
    width: 100px;
    margin-top: 5px;
    border: none;
    background: #ffc856;
    border-radius: 7px;
}

.separateur{
    text-align: center;
    display: block;
    height: 1px;
    width: 100px;
    background: #a5a5a5;
    margin-bottom: 5px;
}

.pays{
    height: 30px;
    width: auto;
}
/* sidebar */
